body {
 background-image: url(images/pexels-lukas-616401.jpg);
height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page_title {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 40px;
	color: #666666;
	margin-top:  30px;
	padding-bottom: 50px;
	border-bottom: solid 1px #000;
	text-align:  center;
	width: 1024px;
	position: absolute;
  margin: auto;
	
}
.big_div {
width: 1024px;
	position: absolute;
  margin: auto;
}
.in_bilde {
float: left;
}
.in_text {
float: left;
}

.big_div {
	border: solid 1px #ccc;
	border-radius: 10px;
	padding:  20px;
	width: 500px;
	margin: 30px
		
}
